@inherits BasicGameView<BasicMultiplayerRegularCardGamesMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<p>Welcome to BasicMultiplayerRegularCardGames</p>
<HorizontalDiv Margins="5px">
    <DeckOfCardsDrawPileBlazor R="RegularSimpleCard" DeckPile="_vmData.Deck1" />
</HorizontalDiv>
<HorizontalDiv Margins="5px">
    <DeckOfCardsSingleMiscPileBlazor R="RegularSimpleCard" SinglePile="_vmData.Pile1" />
</HorizontalDiv>
<div>
    <DeckOfCardsHandBlazor R="RegularSimpleCard" Hand="_vmData.PlayerHand1" />
</div>
<div>
    <LabelGridComponent DataContext="DataContext" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="BasicMultiplayerRegularCardGamesPlayerItem"
                      Columns="_scores"
                      Players="_gameContainer.SaveRoot.PlayerList" />
</div>
@* can adjust as needed.  what is shown is most common for regular card games. *@
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}