@inherits BasicGameView<HitTheDeckMainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<HorizontalDiv Margins="5px">
    <DrawPileBlazor DeckPile="_vmData.Deck1" />
</HorizontalDiv>
<HorizontalDiv Margins="5px">
    <SingleMiscPileBlazor SinglePile="_vmData.Pile1" />
</HorizontalDiv>
<HorizontalDiv Margins="5px">
    <GameButtonComponent DataContext="DataContext" MethodName="@FlipMethod" Display="Flip Deck" StartOnNewLine="true" />
    <GameButtonComponent DataContext="DataContext" MethodName="@CutMethod" Display="Cut Deck" StartOnNewLine="true" />
    <GameButtonComponent DataContext="DataContext" MethodName="@EndMethod" Display="End Turn" StartOnNewLine="true" />
</HorizontalDiv>
<div>
    <HandBlazor Hand="_vmData.PlayerHand1" />
</div>
<div>
    <LabelGridComponent DataContext="DataContext" Labels="_labels" />
</div>
<div>
    <ScoreBoardBlazor P="HitTheDeckPlayerItem"
                      Columns="_scores"
                      Players="_gameContainer.SaveRoot.PlayerList" />
</div>
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}