@inherits BasicGameView<AggravationMainViewModel>
@using BasicBlazorLibrary.Components.CssGrids; 
<HorizontalDiv Width="45vw" Margins="5px">
    <GridContainer Columns="auto auto">
        <GridItem>
            <GameButtonComponent DataContext="@DataContext" MethodName="@RollMethod" Display="Roll Dice" />
        </GridItem>
        <GridItem Column="2">
            <div style="height: 22vh">
                <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
            </div>
        </GridItem>
    </GridContainer>
    <LabelGridComponent DataContext="DataContext" Labels="_labels" />
</HorizontalDiv>
<HorizontalDiv Margins="5px">
    <GameBoardBlazor TargetHeight="90vh"
                     GameContainer="_gameContainer"
                     GraphicsData="_graphicsData" />
</HorizontalDiv>
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}