@inherits BasicGameView<Phase10MainViewModel>
@if (_vmData == null || DataContext == null || _gameContainer == null)
{
    return;
}
<GridContainer ColumnGap="5px" Columns="auto auto auto auto 1fr auto">
    <GridItem Column="1">
        <HandBlazor Hand="_vmData.PlayerHand1" />
    </GridItem>
    <GridItem Column="2">
        <GameButtonComponent DataContext="DataContext" MethodName="@CompleteMethod" Display="Complete Phase" />
    </GridItem>
    <GridItem Column="3">
        <DrawPileBlazor DeckPile="_vmData.Deck1" />
    </GridItem>
    <GridItem Column="4">
        <SingleMiscPileBlazor SinglePile="_vmData.Pile1" />
    </GridItem>
    <GridItem Column="5">
        <LabelGridComponent DataContext="DataContext" Labels="_labels" />
    </GridItem>
    <GridItem Column="6">
        <ScoreBoardBlazor P="Phase10PlayerItem"
                          Columns="_scores"
                          Players="_gameContainer.SaveRoot.PlayerList" />
    </GridItem>
</GridContainer>

<div>
    <HorizontalDiv Margins="5px">
        <TempSetsBlazor TargetContainerSize="80vh"
                        TempPiles="_vmData.TempSets" />
    </HorizontalDiv>
    <HorizontalDiv Margins="5px">
        <MainRummySetsBlazor ContainerHeight="80vh"
                             DataContext="_vmData.MainSets" />
    </HorizontalDiv>
</div>
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}