<div style="margin-top: 5px">
    <NumberChooserBlazor NumberPicker="DataContext!.Number1" />
</div>
<div>
    <GameButtonComponent DataContext="DataContext" MethodName="@ChooseMethod" Display="Choose Number" />
</div>