@page "/"
@if (_loadedOnce == false)
{
    <div>Loading Game Package Loader........</div>
    return;
}

@if (DataContext!.PackagePicker!.TextList.Count == 0)
{
    return;
}
@if (DataContext.GameName == "")
{
    <Title Value="@DataContext.Title">

    </Title>
    @if (_showSettings)
    {
        <GameSettingsComponent CloseSettings="ClosedSettings" />
        return;
    }
    @if (GlobalClass.Multiplayer)
    {
        <div>
            <GameButtonComponent CustomCallBack="OpenSettings" Display="Show Settings" />
        </div>
    }
    @if (CanShowGameList())
    {
        <div style="margin: 5px">
            <ListChooserBlazor ListPicker="DataContext.PackagePicker"
                               TotalColumns="500"
                               TextWidth="170"
                               TextHeight="5vh" />
        </div>
    }

    return;

}

<GridContainer Rows="auto auto">
    <GridItem>
        @DataContext.GameRendered
    </GridItem>
    <GridItem Row="2">
        <GameButtonComponent CustomCallBack="BackToMain" Display="Back To Main" />
        <span style="font-size: 2em">
            @DataContext.GameName
        </span>
    </GridItem>
</GridContainer>
