@page "/"
@if (DataContext!.PackagePicker!.TextList.Count == 0)
{
    return;
}
@if (DataContext.GameName == "")
{
    <Title Value="@DataContext.Title">

    </Title>
    <div style="margin: 5px">
        <ListChooserBlazor ListPicker="DataContext.PackagePicker"
                           TotalColumns="500"
                           TextWidth="170"
                           TextHeight="5vh" />
    </div>
}
@DataContext.GameRendered