@inherits KeyComponentBase
<div>
    <GameButtonComponent @key="GetKey" AfterChange="@StateHasChanged" DataContext="@DataContext" MethodName="@GetMethod" Display="Start New Round" FontSize="3vh" />
</div>