@typeparam B
<ListChooserBlazor ListPicker="GameContainer!.PlayerPicker" />
<div style="margin-top: 20px">
    <GameButtonComponent Display="@DataContext!.Text" DataContext="@DataContext" FontSize="12vh" MethodName="@SubmitMethod" />
</div>
