@inherits BasicGameView<DiceBoardGamesMultiplayerMainViewModel>
<p>Welcome to DiceBoardGamesMultiplayer</p>
<div style="height: 22vh">
    <GameButtonComponent DataContext="@DataContext" MethodName="@RollMethod" Display="Roll Dice" />
    <GameButtonComponent DataContext="@DataContext" MethodName="@EndMethod" Display="End Turn" />
    <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
</div>

<LabelGridComponent DataContext="DataContext" Labels="_labels" />
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}